@model mercedes_benz.Models.Account
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<section class="w3l-login">
    <div class="overlay">
        <div class="wrapper">

            <div class="form-section">
                <h3>Join with Us</h3>

                <form action="@Url.Action("Index","Register")" method="post" class="signin-form">
                    @Html.AntiForgeryToken()
                    <div class="form-input">
                        <center>
                            @Html.TextBoxFor(m => m.username, "", new
                            {
                                @class = "form-control",
                                @placeholder = "Username"
                            })
                        </center>
                    </div>
                    <div class="form-input">
                        <center>

                            @Html.PasswordFor(m => m.password, new
                       {
                           @class = "form-control",
                           @placeholder = "Password",

                       })
                        </center>
                    </div>
                    <div class="form-input">
                        <center>

                            @Html.PasswordFor(m => m.password, new
                       {
                           @class = "form-control",
                           @placeholder = "Confirm Password",

                       })
                        </center>
                    </div>
                    <label style="color: red; font-size = " 8px";">@ViewBag.error</label>
                    <button type="submit" class="btn btn-primary theme-button mt-4">Register</button>
                    <p class="signup">Already account? <a href="@Url.Action("Index", "Login")" class="signuplink">Login Now</a></p>
                </form>

            </div>
        </div>
    </div>
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>


</section>