@model IEnumerable<mercedes_benz.Models.Car>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutHomePage.cshtml";
}

<header>
    <div id="home-page">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#home-page">
                    <img class="nav-logo" src="~/Content/image/logo1.jpg" alt="logo">
                </a>
                <div class="navbar-list">
                    <ul class="navbar-nav">

                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-car icon-car"></i>Các dòng xe</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Mua xe Mercedes-Benz</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Dịch vụ, Phụ tùng & Phụ Kiện</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Thế giới Mercedes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Mercedes-Benz Việt Nam</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar-login">
                    @if (Session["uid"] != null)
                    {
                        <label style="color: #00ffff">@Session["username"]</label>
                        <a href="@Url.Action("LogOut", "Home")">Logout</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index", "Login")">Login</a>
                        <a href="@Url.Action("Index", "Register")">Sign up</a>
                    }
                </div>
            </div>
        </nav>
    </div>
</header>
<main class="main-container">
    <div class="container">
        <div id="slide-car" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#slide-car" data-slide-to="0" class="active"></li>
                <li data-target="#slide-car" data-slide-to="1"></li>
                <li data-target="#slide-car" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-fluid w-100 img-slide" src="~/Content/image/mer3.jpg" alt="slide1">
                    <div class="carousel-caption">
                        <h3>GLB SUV hoàn toàn mới</h3>
                        <a href="#"> >Open to watch next</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="img-fluid w-100 img-slide" src="~/Content/image/mer2.jpg" alt="slide1">
                    <div class="carousel-caption">
                        <h3>GLB SUV hoàn toàn mới</h3>
                        <a href="#"> >Open to watch next</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="img-fluid w-100 img-slide" src="~/Content/image/mer1.jpg" alt="slide1">
                    <div class="carousel-caption">
                        <h3>GLB SUV hoàn toàn mới</h3>
                        <a href="#"> >Open to watch next</a>
                    </div>
                </div>

            </div>
            <a class="carousel-control-prev" href="#slide-car" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#slide-car" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
        <div class="container">
            <h2>
                Các dòng xe Mercedes-Benz
            </h2>
            <ul class="nav ">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#all">Tất cả các dòng xe</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#amg">AMG</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#maybach">MAYBACH</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#new">Các dòng xe mới</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane container active" id="all">
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6 col-md-4">
                            <div class="card">
                                <img class="card-img-top" src=@item.images[0]
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">@item.name</h5>
                                    <p class="card-text">
                                        @item.desc
                                    </p>

                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="tab-pane container fade" id="amg">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            if (item.type == 1)
                            {
                                <div class="col-sm-6 col-md-4">
                                    <div class="card">
                                        <img class="card-img-top" src=@item.images[0]
                                             alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">@item.name</h5>
                                            <p class="card-text">
                                                @item.desc
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="tab-pane container fade" id="maybach">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            if (item.type == 2)
                            {
                                <div class="col-sm-6 col-md-4">
                                    <div class="card">
                                        <img class="card-img-top" src=@item.images[0]
                                             alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title">@item.name</h5>
                                            <p class="card-text">
                                                @item.desc
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="tab-pane container fade" id="new">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <div class="card">
                                <img class="card-img-top" src="~/Content/image/mercedes-benz-C350e-Plug-in-Hybrid-Sedan.png"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">
                                        Some quick example text to build on the card title and make
                                        up the bulk of the card's content.
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="space"></div>
    </div>
    <div class="container-fluid">

        <div class="row contact">
            <div class="col-sm-6 col-md-3">
                <div class="card card-contact">
                    <div class="card-body">
                        <a href="#">

                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-contact">
                    <div class="card-body">
                        <a href="#">

                        </a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-contact">
                    <div class="card-body">

                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="card card-contact">
                    <div class="card-body">


                    </div>
                </div>
            </div>


        </div>

    </div>
</main>

<footer class="footer-content">
    <div class="container-fluid ">
        <div class="jumbotron footer-content">
            <div class="row">
                <div class="col-sm-6 col-md-3 footer-content-item">
                    <h5>About us</h5>
                    <a href="#">News and event</a><br>
                    <a href="#">Contact us</a><br>
                    <a href="#">Career</a><br>
                    <a href="#">Silver Aniversary</a><br>
                </div>
                <div class="col-sm-6 col-md-3 footer-content-item">
                    <h5>Social media</h5>
                    <a href="#">LinkedIn</a><br>
                    <a href="#">YouTube</a><br>
                    <a href="#">Instagram</a><br>
                    <a href="#">Facebook</a><br>
                </div>
                <div class="col-sm-6 col-md-3 footer-content-item">
                    <h5>Purchase advices</h5>
                    <a href="#">Find nearest dealer</a><br>
                    <a href="#">Send a contact request</a><br>
                    <a href="#">Book a test drive</a><br>
                    <a href="#">Promotions</a><br>
                </div>
                <div class="col-sm-6 col-md-3 footer-content-item">
                    <h5>Mercedes World</h5>
                    <a href="#">📷MBsocialcar</a><br>
                    <a href="#">Mercedes-AMG</a><br>
                </div>
            </div>

        </div>

    </div>
</footer>


